@charset "UTF-8";
html, body, h1, h2, p, a, div, ul, li, img ,header, select, option, button {
  box-sizing: border-box;
  line-height: 1.6;
}
html, body {
  margin: 0;
  font-size: 16px;
}
body {
  font-family: Helvetica, sans-serif;
  background: #f2f2f2;
}
h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: bottom;
}
.header-toggle,
.header-title {
  display: table-cell;
}
.header-toggle {
  width: 44px;
  width: 2.75rem;
  vertical-align: middle;
}
.header-toggle .icon {
  color: #fff;
  font-size: 20px;
}
.header-title {
  padding: 0 10px;
  padding: 0 0.625rem;
  vertical-align: middle;
}
.header-button {
  margin: 0;
  padding: 0;
  width: 44px;
  height: 100%;
  width: 2.75rem;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
header {
  display: table;
  width: 100%;
  color: #fff;
  background: #0f9d58;
  height: 44px;
  height: 2.75rem;
  position: relative;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
  z-index: 2;
}
h1 {
  padding: 0;
  font-size: 0.75em;
}
h1 + p {
  font-size: 0.65em;
}
.header-title h1:only-child {
  font-size: 1em;
}
select {
  position: absolute;
  top: 12px;
  right: 10px;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.headroom--top,
.headroom--pinned {
  position: fixed;
}
.headroom--pinned {
  position: fixed;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.headroom--unpineed {
  position: absolute;
}
.hangouts {
  padding: 0 0.7em 0.8em;
  list-style: none;
}
.headroom--top + .container {
  padding-top: 58px;
  padding-top: 3.62rem;
}
.headroom--unpineed + .container {
  padding-top: 0.8em;
}
.hangouts > li {
  position: relative;
}
.hangouts > li:after {
  content: "";
  clear: both;
}
.user-icon {
  float: left;
}
.user-icon a {
  text-decoration: none;
  display: block;
  width: 2.12em;
  height: 2.12em;
}
.user-icon img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.meta {
  color: #888;
  font-size: 0.7em;
  line-height: 1.2;
  padding-bottom: 0.45em;
}
.meta time,
.user-name {
  display: inline-block;
}
.meta time:after {
  padding: 0 0.2em;
  display: inline-block;
  content: "・";
}
.talk {
  margin-left: 2.75em;
}
.talk-body {
  margin-bottom: 1.75em;
  border-radius: 0 0.45em 0.45em 0.45em;
  padding: 0.54em 0.69em 0.5em;
  font-size: 0.87em;
  background: #fff;
  position: relative;
  display: inline-block;
  color: #444;
}
.talk-body:before {
  content: "";
  border-left: 0.31em solid #f2f2f2;
  border-top: 0.31em solid #fff;
  position: absolute;
  width: 0.31em;
  height: 0.31em;
  top: 0;
  left: -0.3em;
}
.talk-body img {
  display: inline-block;
  max-width: 224px;
  max-width: 14rem;
}
img:hover {
  opacity: .7;
}
[href] {
  word-break: break-all;
}
@font-face {
  font-family: 'icomoon';
  src:  url('https://cdn.rawgit.com/Trueloveplanet/hangouts-style/989e5e074c0dffb192ad3300835ac27bb19b35e7/fonts/icomoon.eot?ny0bx3');
  src:  url('https://cdn.rawgit.com/Trueloveplanet/hangouts-style/989e5e074c0dffb192ad3300835ac27bb19b35e7/fonts/icomoon.eot?ny0bx3#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/Trueloveplanet/hangouts-style/989e5e074c0dffb192ad3300835ac27bb19b35e7/fonts/icomoon.ttf?ny0bx3') format('truetype'),
    url('https://cdn.rawgit.com/Trueloveplanet/hangouts-style/989e5e074c0dffb192ad3300835ac27bb19b35e7/fonts/icomoon.woff?ny0bx3') format('woff'),
    url('https://cdn.rawgit.com/Trueloveplanet/hangouts-style/989e5e074c0dffb192ad3300835ac27bb19b35e7/fonts/icomoon.svg?ny0bx3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"], .icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-time:before {
  content: "\e8b5";
}
.icon-arrow-back:before {
  content: "\e5c4";
}
.icon-arrow-down:before {
  content: "\e5db";
}
.icon-arrow-forward:before {
  content: "\e5c8";
}
.icon-arrow-up:before {
  content: "\e5d8";
}
.icon-chart:before {
  content: "\e801";
}
.icon-chat:before {
  content: "\e0b7";
}
.icon-chat-bubble:before {
  content: "\e0ca";
}
.icon-folder:before {
  content: "\e2c7";
}
.icon-folder-shared:before {
  content: "\e2c9";
}
.icon-folder-star:before {
  content: "\e617";
}
.icon-question-answer:before {
  content: "\e8af";
}
.icon-people:before {
  content: "\e7fc";
}
.icon-person:before {
  content: "\e7ff";
}
.icon-warning:before {
  content: "\e901";
}
.icon-arrow-with-circle-down:before {
  content: "\e902";
}
.icon-bookmark:before {
  content: "\e903";
}
.icon-bookmarks:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-left:before {
  content: "\e906";
}
.icon-right:before {
  content: "\e907";
}
.icon-up:before {
  content: "\e908";
}
.icon-more:before {
  content: "\e900";
}
.icon-globe:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-hangouts:before {
  content: "\e90d";
}
.icon-github:before {
  content: "\e90e";
}
.icon-google:before {
  content: "\e910";
}
.nav {
  background: #fff;
  position: fixed;
  width: 240px;
  width: 15rem;
  height: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: inset -2px -2px 2px rgba(0,0,0,.3);
  overflow-y: scroll;
}
.js-nav-left {
  left: -240px;
}
.js-nav-right {
  right: -240px;
}
.js-nav-left.js-nav--open {
  left: 0;
}
.js-nav-right.js-nav--open {
  right: 0;
}
.js-nav-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.js-nav-push-toright {
  left: 240px;
}
.js-nav-push-toleft {
  left: -240px;
}
.nav,
.js-nav-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav h2,
.nav li {
  font-size : 13px;
  font-size: 0.93rem;
}
.nav a {
  padding: 0.8em 0.9em;
  display: block;
  text-decoration: none;
  color: #333;
}
.nav a:hover {
  background: rgba(0,0,0,.1);
}
@media (min-width: 375px) {
  header {
    height: 52px;
    height: 3.25rem;
  }
  h1 {
    font-size: 0.8em;
  }
  .headroom--top + .container {
    padding-top: 68px;
    padding-top: 4.25rem;
  }
  .headroom--unpineed + .container {
    padding-top: 0.8em;
  }
  .user-icon a {
    width: 2.5em;
    height: 2.5em;
  }
  .talk {
    margin-left: 3.2em;
  }
}
@media (min-width: 414px) {
  .meta {
    font-size: 0.75em;
  }
  .talk-body {
    font-size: 0.9375em;
  }
}
@media (min-width: 960px) {
  .user-icon a {
    width: 3em;
    height: 3em;
  }
  .talk {
    margin-left: 3.8em;
  }
}
